/* start reCAPTCHA styles */

form>div {
    margin: 1em;
}

.formbox {
    margin-top: 1em;
    box-shadow: rgb(143 142 142) 0 0 5px 2px;
    background-color: #333;
    padding: 5px;
    border-radius: 7px;
    text-decoration: none;
    list-style-type: none;
    color: rgb(255, 255, 255);
}


/* START RESPONSIVE STYLES */


/* DESKTOP */

@media all and (min-width:1400px) {
    .formbox {
        margin-top: 1em;
        box-shadow: rgb(143 142 142) 0 0 5px 2px;
        background-color: #333;
        padding: 5px;
        border-radius: 7px;
        text-decoration: none;
        list-style-type: none;
        color: rgb(255, 255, 255);
    }
    .formsection {
        width: 33%;
        float: left;
        padding: 3%;
    }
    .contactlogo {
        color: #737373;
        width: 52%;
        border-width: 17px;
        border-radius: 83%;
        box-shadow: 0px 0px 15px 3px #323232;
    }
    .formaside {
        width: 34%;
        float: right;
        padding: 5%;
        text-align-last: center;
    }
    /* TABLET */
    @media all and (min-width:737px) and (max-width:1399px) {
        .formbox {
            margin-top: 1em;
            box-shadow: rgb(143 142 142) 0 0 5px 2px;
            background-color: #333;
            padding: 5px;
            border-radius: 7px;
            text-decoration: none;
            list-style-type: none;
            color: rgb(255, 255, 255);
        }
        .formsection {
            width: 33%;
            float: left;
            padding: 3%;
        }
        .formaside {
            width: 34%;
            float: right;
            padding: 5%;
            text-align-last: center;
        }
    }
    /* PHONE */
    @media all and (max-width:736px) {
        .formbox {
            margin-top: 1em;
            box-shadow: rgb(143 142 142) 0 0 5px 2px;
            background-color: #333;
            padding: 5px;
            border-radius: 7px;
            text-decoration: none;
            list-style-type: none;
            color: rgb(255, 255, 255);
        }
        .formsection {
            width: 33%;
            float: left;
            padding: 3%;
        }
        .formaside {
            width: 34%;
            float: right;
            padding: 5%;
            text-align-last: center;
        }
    }
    /* writes to small text above reCAPTCHA upon failure */
    .dateFeedback {
        font-style: italic;
        font-size: 70%;
        font-weight: bold;
        color: rgb(0, 0, 0);
    }
    input:required {
        border: 1px solid rgb(0, 0, 0);
        width: -webkit-fill-available;
    }
    input:optional,
    textarea:optional {
        background-color: #f1f1f1;
        border: 1px solid #ccc;
        width: -webkit-fill-available;
    }
    input[type="submit"],
    input[type="button"] {
        background-color: #fff;
        border-radius: 4px;
        border: solid 1px #ccc;
        padding: 0.3em 0.5em;
    }
    fieldset {
        border: 1px solid #ccc;
        max-width: 350px;
    }
    legend {
        margin-left: 0.5em;
        padding: 0.2em 0.5em;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
    }
}


/* end reCAPTCHA styles */