html {
    background-color: #ccc;
    width: 100%;
    margin: auto;
}

main.wrapper {
    background-color: #fff;
    overflow: auto;
    border-radius: 12px;
}

.miniwrapper {
    background-color: rgb(197, 197, 197);
    overflow: auto;
    margin: 10px;
    border: solid rgb(129, 129, 129);
    border-radius: 10px;
    box-shadow: rgb(187, 187, 187) 0 0 5px 0px;
    border-width: 1px;
    padding: 10px;
}

h1>a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Space Mono', monospace;
    font-size: 50%;
    font-stretch: ultra-expanded;
}

h2 {
    margin-left: auto;
}

.header {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border-top: solid;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 75px, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
}

.logo {
    color: #737373;
    margin-left: 2%;
    width: 58px;
    border-width: 3px;
    border-radius: 100%;
    box-shadow: 0px 0px 15px 3px rgb(255 255 255 / 38%);
}

.floating {
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 4px);
    }
    100% {
        transform: translate(0, -0px);
    }
}


/* Embed Responsively Rules! */

div.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin: auto;
    max-width: 98%;
}

div.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
    clear: both;
    text-align: center;
}

.footerbox {
    background-color: rgb(179, 179, 179);
    height: 100px;
    padding: 1%;
    box-shadow: black 1px 1px 4px 0px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.textbox {
    background-color: #ccc;
    padding: 5%;
    border-radius: 7px;
    margin-top: 10px;
    box-shadow: rgb(143, 142, 142) 0 0 5px 2px;
    margin-inline: auto;
    max-width: 80%;
}

.article {
    width: auto;
    margin: auto;
    display: inline;
    text-align: center;
}

h3 {
    color: rgb(0, 0, 0);
}

.mailbox {
    float: right;
    font-size: 1vw;
    font-weight: bolder;
    padding: 5%;
}


/* START RESPONSIVE STYLES */


/* DESKTOP */

@media all and (min-width:1400px) {
    html {
        width: 95%;
    }
    main.wrapper {
        width: 80%;
        margin: auto;
    }
    .welcomeheader {
        font-size: 12px;
        font-weight: bolder;
    }
    .flowheader {
        font-size: 12px;
        font-weight: bolder;
        text-align: center;
    }
    .flowchart {
        width: 640px;
        height: 480px;
        margin: 10px;
        position: relative;
    }
    section {
        width: 40%;
        float: left;
        padding: 5%;
    }
    aside {
        width: 40%;
        float: right;
        padding: 5%;
    }
    img.desktop {
        width: 431px;
        display: inline-block;
        margin-bottom: 20px;
        filter: brightness(350%);
    }
    img.tablet,
    img.phone {
        display: none;
    }
    /* Change background color of navigation on selected page */
    ul.topnav li a.selected {
        background-color: #555;
        color: #ccc;
    }
    .mailbox {
        font-size: 12px;
    }
}


/* TABLET */

@media all and (min-width:737px) and (max-width:1399px) {
    .logo {
        margin-right: 2%;
    }
    .welcomeheader {
        font-size: 9px;
        font-weight: bolder;
    }
    section {
        width: 40%;
        float: left;
        padding: 5%;
    }
    .miniwrapper {
        background-color: rgb(235, 231, 231);
        overflow: auto;
        margin: 10px;
        border: rgb(255, 255, 255);
        border: solid;
        border-radius: 10px;
        box-shadow: rgb(143, 142, 142) 0 0 5px 2px;
        border-width: 0px;
        padding: 10px;
    }
    aside {
        width: 35%;
        float: right;
        margin-bottom: 5%;
        padding: 5%;
    }
    img.tablet {
        display: inline-block;
        width: -webkit-fill-available;
        border-radius: 7px;
    }
    img.desktop,
    img.phone {
        display: none;
        padding: 5%;
    }
    /* Change background color of navigation on selected page */
    ul.topnav li a.selected {
        background-color: rgb(53, 51, 51);
        color: rgb(190, 189, 189);
    }
}


/* PHONE */

@media all and (max-width:736px) {
    h1 {
        margin: 10%;
        text-align: center;
    }
    .welcomeheader {
        font-size: 8px;
        font-weight: bolder;
    }
    .mailbox {
        font-size: 1vw;
    }
    .mailbox-container {
        background-color: #ccc;
        border: 1px solid black;
    }
    .logo {
        margin-right: 10%;
        float: left;
    }
    .miniwrapper {
        background-color: rgb(235, 231, 231);
        overflow: auto;
        margin: 10px;
        border: rgb(255, 255, 255);
        border: solid;
        border-radius: 10px;
        box-shadow: rgb(187, 187, 187) 0 0 10px 4px;
        border-width: 0px;
        padding: 10px;
    }
    img.phone {
        max-width: 23%;
        display: inline-block;
        padding: 2%;
        float: left;
    }
    img.tablet,
    img.desktop {
        display: none;
        padding: 5%;
    }
    section {
        margin: 1%;
        padding: 5%;
    }
    aside {
        margin: 10%;
    }
}


/* form flex box begin */

.container {
    width: 80%;
    margin: 0 auto;
    box-shadow: rgb(143 142 142) 0 0 5px 2px;
    background-color: #ccc;
    padding: 5%;
    border-radius: 7px;
    text-decoration: none;
    list-style-type: none;
    color: black
}

.form-header {
    text-align: center;
    text-shadow: rgb(187, 187, 187) 1px 2px 2px;
    border-bottom: 2px solid black;
}

.container * {
    box-sizing: border-box;
}

.flex-outer,
.flex-inner {
    list-style-type: none;
    padding: 0;
}

.flex-outer {
    max-width: 800px;
    margin: 0 auto;
}

.flex-outer li,
.flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-inner {
    padding: 0 8px;
    justify-content: space-between;
}

.flex-outer>li:not(:last-child) {
    margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
    padding: 8px;
    font-weight: 300;
    letter-spacing: .09em;
    text-transform: uppercase;
}

.flex-outer>li>label,
.flex-outer li p {
    flex: 1 0 120px;
    max-width: 220px;
}

.flex-outer>li>label+*,
.flex-inner {
    flex: 1 0 220px;
}

.flex-outer li p {
    margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
    padding: 15px;
    border: none;
}

.flex-outer li button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
}

.flex-inner li {
    width: 100px;
}


/* form flex box end */